.l-NewsSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .l-NewsSection {
    grid-template-columns: repeat(auto-fit, 370px);
  }
}
