.l-NewAnimalSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 10px;
  justify-content: center;
}

.l-NewAnimalSection__title {
  display: flex;
  justify-content: center;
}

.c-NewAnimalSection__title {
  color: var(--secondary-text);
  font-size: 30px;
  margin-bottom: 35px;
  padding-bottom: 5px;
  border-bottom: 5px solid var(--fourth-color);
}

.c-NewAnimalSection {
  padding: 0px 20px;
}

@media only screen and (max-width: 400px) {
  .l-NewAnimalSection {
    grid-template-columns: repeat(auto-fit, 290px);
  }
}
