.c-NewsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 40px 50px;
  color: var(--secondary-text);
}

.c-NewsCard__title {
  border-left: 10px solid var(--fourth-color);
  margin-bottom: 20px;
  padding: 20px 10px;
  font-size: 25px;
}

.c-NewsCard__subtitle {
  text-align: center;
  font-size: 20px;
  padding: 15px 0px 10px 0px;
}

.c-NewsCard__date {
  padding: 10px 0;
  font-size: 14px;
}

.c-NewsCard__link {
  display: inline;
  color: var(--fourth-color);
  font-weight: bold;
  padding: 4px 0px 10px;
}

.c-NewsCard__link:hover {
  color: var(--highlight-color);
}

.c-NewsCard__image {
  border: 2px solid black;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 250px;
}

.c-NewsCard__btn {
  font-size: 18px;
  padding: 12px 5px;
  margin: 10px 0px 0px 0px;
}
