.c-HeroContainer {
  max-width: 1500px;
  min-width: 300px;
  margin: 0px auto;
  color: var(--third-text);
  text-align: center;
}

.l-HeroContainer {
  margin: 0px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "c-HeroContainer__left c-HeroContainer__right"
    "c-HeroContainer__bottom c-HeroContainer__bottom";
  -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.75);
}

.c-HeroContainer__title {
  font-size: 3em;
}

.c-HeroContainer__message {
  font-size: 1.9em;
  margin: 10px 0px 25px 0px;
}

.c-HeroContainer__left {
  padding: 35px;
  align-items: center;
  background-color: var(--third-color);
  grid-area: c-HeroContainer__left;
  position: relative;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.c-HeroContainer__right {
  grid-area: c-HeroContainer__right;
}

.c-HeroContainer__bottom {
  background-color: var(--fourth-color);
  grid-area: c-HeroContainer__bottom;
  padding: 15px;
}

.c-HeroContainer__btn {
  font-size: 1.5em;
  margin: 0px 15px;
  padding: 10px 25px;
}

#c-HeroContainer__image {
  display: block;
  height: 450px;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 999px) {
  .l-HeroContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      "c-HeroContainer__left"
      "c-HeroContainer__right"
      "c-HeroContainer__bottom";
  }

  .c-HeroContainer {
    max-width: 650px;
  }

  .c-HeroContainer__left {
    height: 300px;
    border-bottom: 1px solid rgb(216, 215, 215);
  }

  .c-HeroContainer__right {
    height: 300px;
  }

  #c-HeroContainer__image {
    height: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  #c-HeroContainer__image {
    height: 350px;
  }
}

@media only screen and (min-width: 1500px) {
  #c-HeroContainer__image {
    height: 400px;
  }
}

@media only screen and (min-width: 1750px) {
  #c-HeroContainer__image {
    height: 450px;
  }
}

@media only screen and (max-width: 600px) {
  .c-HeroContainer {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .c-HeroContainer {
    font-size: 10px;
  }

  .c-HeroContainer__btn {
    margin: 0px 4px;
  }
}
