.c-MobileTopic {
  padding: 15px 0px;
  width: 100%;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid rgb(119, 119, 119);
}

.c-MobileTopic:hover {
  background-color: rgba(30, 30, 30, 0.65);
}
